
/* About css here */

.aboutpage-content {
    align-content: center;
    /* margin: 20px; */
    padding-top: 55px;
    /* padding-left: 30px;
    padding-right: 30px; */
    /* width: 100%; */
    font-size: 20px;   
}

.aboutpage-content>.about-section {
    /* padding-left: 60px;
    padding-bottom: 50px; */
}

.aboutpage-content>.about-section>.abt-header {
    padding-bottom: 15px;
    /* text-align: left; */
    justify-content: flex-start;
    font-family:  sans-serif, serif, 'Times New Roman', Georgia, Times;
    font-weight: 700;
    font-size: 45px;
    color: #8bc34a;
}

.aboutpage-content>.about-section>.abt-cntnt {
    /* text-align: left; */
    justify-content: flex-start;
    font-family:  sans-serif, serif, 'Times New Roman', Georgia, Times;
    font-weight: normal;
    font-size: 15px;
    color: #616161;
}

div>.meetup-img {
    max-width: 100%;
    height: auto;
    /* margin: auto; */
}

#abtnotice {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: #3c7b5c;
} 