.btn-primary  {
    background-color: #8dc43f;
    border-color: #8dc43f;

}

.main {
    width: 100%;
    height: auto;
    background: url(../images/bg2.png) center no-repeat;
    background-size: cover;
    padding: 100px 50px 150px 50px;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
}

.main .header-text {
    font-weight: 800;
    font-size: 55px;
}

.main .form-headerText {
    width: 360px;
    margin-bottom: 10px;
    text-align: center;
}

.main .login-form .social-text {
    font-weight: 700;
    font-size: 30px;
}

.main .login-form .socials {
    margin-top: 20px;
}

.main .login-form .socials img {
    width: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

.main .login-form .socials .linkedIn {
    margin-left: 10px;
    margin-right: 10px;
}

.main .login-form .sign-in-with-email {
    margin-top: 40px;
    font-size: 20px;
}


.main .login-form .form-group {
    margin-top: 20px;
}

.main .login-form .form-group .form-control {
    width: 360px;
    height: 50px;
    border-radius: 25px;
    border: solid 2px #8dc43f;
    background-color: #ffffff;
}

.main .login-form .form-group .errorMessage {
    display: none;
    background-color: #ff3b3b;
    width: 180px;
    padding: 4px 20px;
    border-radius: 25px;
    position: relative;
    right: 0;
    top: 4px;
    box-sizing: border-box;
}

/* .main .form-group .errorMessage::before{
    content: '\f0d9';
    font-size: 2em;
    color: #ff3b3b;
    display: inline-block;
    font-weight: 900;
    font-family: 'Font Awesome 5 Free';
    position: absolute;
    left: -5px;
    bottom: 0px; 
} */

.main .login-form .form-group .errorMessage p {
    margin-bottom: 0;
}

.main .login-form .button {
    width: 360px;
    height: 50px;
    border-radius: 25px;
    margin-top: 30px;
}

@media screen and (min-width: 768px) and (max-width:890px) {
    .main {
        padding: 50px 30px 50px 30px;
    }

    .main .form-headerText, .main .login-form .form-group, .main .login-form .form-group .form-control, .main .login-form .button {
        width: 100% !important;
    }
}

@media screen and (max-width: 576px) {
    .main {
        padding: 50px 30px 50px 30px;
    }

    .main .header-text {
        font-size: 40px;
    }

    .main .login-form .social-text {
        margin-top: 20px;
    }

    .main .form-headerText {
        width: 100%;
    }

    .main .login-form .form-group .form-control {
        width: 100%;
    }

    .main .login-form .button {
        width: 100%;
    }
}

@media screen and (max-width: 360px) {
    .main {
        padding: 50px 10px 50px 10px;
    }

    .main .header-text {
        font-size: 36px;
    }
}
